/*Animação do cano se savendo da direita para esquerda
@keyframes pipe-animation {
from {
right: -80px; / Começa fora da tela (direito)
}
to {
right: 100%; Teraina Fora da tela (esquerda) /
}
}
.pipe {
width: 80px;
position: absolute;
bottom:
8:
animation: pipe-animation 2s infinite linear;
/*2s duração | infinite repete sempre | Linear velocidade constante
}

/* Animação do puto do Nario/
@keyframes jump {
0% { bottom: 0; }
40%, 50%, 60% { bottom: 180px; }
100% { bottom: 0; }
Posição inicial +/
/ Apice do pulo (mantés no topo) /
+ Retorna ao chão +/
}
.jump {
animation:
jump 500ms ease-out;
/* 500nselo segundo ease-out desaceleração no final/
}